<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<preference for="Magento\Directory\Model\Currency" type="Reach\Payment\Model\ReachCurrency" />
	<preference for="Magento\Store\Model\Store" type="Reach\Payment\Model\Store" />

	<preference for="Reach\Payment\Api\StashInterface" type="Reach\Payment\Model\Stash" />

	<preference for="Reach\Payment\Api\PayPalManagementInterface" type="Reach\Payment\Model\PayPalManagement" />
    <preference for="Reach\Payment\Api\GuestPayPalManagementInterface" type="Reach\Payment\Model\GuestPayPalManagement" />

    <preference for="Reach\Payment\Api\DutyCalculatorInterface" type="Reach\Payment\Model\DutyCalculator" />
    <preference for="Reach\Payment\Api\GuestDutyCalculatorInterface" type="Reach\Payment\Model\GuestDutyCalculator" />

    <preference for="Reach\Payment\Api\Data\StashResponseInterface" type="Reach\Payment\Model\Api\Data\StashResponse" />
    <preference for="Reach\Payment\Api\Data\DutyResponseInterface" type="Reach\Payment\Model\Api\Data\DutyResponse" />
    <preference for="Reach\Payment\Api\Data\ResponseInterface" type="Reach\Payment\Model\Api\Data\Response" />
    <preference for="Reach\Payment\Api\Data\HttpResponseInterface" type="Reach\Payment\Model\Api\Data\HttpResponse" />
</config>